body {
  background-image: url(../public/images/BACKGROUND.jpg);
  background-size: cover;
  height: 100vh;
}

nav {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.wrapper {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 0.5fr auto auto auto 0.5fr;
  grid-template-rows: auto;
  grid-template-areas: ". logger form-wrapper lagret .";
  gap: 40px;
}

.form-wrapper {
  grid-area: form-wrapper;
  width: 470px;
}

.logger-wrapper {
  grid-area: logger;
}

.lagret-wrapper {
  grid-area: lagret;
}
